recursive-include musicxml2lilypond/data *.db
recursive-include musicxml2lilypond/unittests/data *.xml
recursive-include musicxml2lilypond/unittests/data *.json
recursive-include musicxml2lilypond/unittests/data *.ly